<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar Evento | uniBET</title>
</head>

<body>
    <div class="container">
        <form class="form">
            <div class="form_front">
                <input placeholder="Codigo do evento" id="codEvent" class="input" type="text" required>
                <br><br>
                <button id="btnEntrar" class="btn">Entrar</button>
                <br>
                <p id="divResposta"></p>
            </div>
        </form>
    </div>
</body>

<script>
    const info = JSON.parse(localStorage.getItem("informacao"));

    if (!info || !info.idUsuario) {
        window.location.href = "Index.html";
    }

	const btnEntrar = document.getElementById('btnEntrar');

	btnEntrar.onclick = function (event) {
		event.preventDefault(); 
		entrarEvento();
	}

	function entrarEvento () {
		const txtCodigoEvento = document.getElementById("codEvent");
		const codigoEvento = txtCodigoEvento.value;

		const obj_json = {
			codigoEvento: codigoEvento,
		}
        const params = new URLSearchParams(obj_json).toString();

        const uri = `/EntrarEvento?${params}`;
		fetch(uri, {
			method: "GET",
			headers: {
               'Content-Type': 'application/json',
            },
			params: JSON.stringify(obj_json)
		}).then((resposta_backEnd)=>{
			return resposta_backEnd.text();
		}).then((texto_resposta_back)=>{
		   console.log(texto_resposta_back);
		   processarResultados(texto_resposta_back);
		}).catch((error)=>{
			console.log(error);
		})

		function processarResultados(texto_json){
		const obj_json = JSON.parse(texto_json);

		if(obj_json.status==false){
		   divResposta.textContent = "";
		   const lblReposta = document.createElement("p")
		   lblReposta.textContent = "Algum dado errado.";
		   lblReposta.style.color = "red"; 
		   divResposta.appendChild(lblReposta);
		}else{
            salvarEvento(obj_json.idEvento);
		}
	}
	}

    function salvarEvento(idEvento) {
        const info = JSON.parse(localStorage.getItem("informacao"));
        const idUsuario = info.idUsuario; 

        console.log("idEvento:", idEvento);
        console.log("idUsuario:", idUsuario);

		const obj_json = {
			idEvento: idEvento,
            idUsuario: idUsuario
		}
        const params = new URLSearchParams(obj_json).toString();

        const uri = '/EntrarEvento';
		fetch(uri, {
			method: "POST",
			headers: {
               'Content-Type': 'application/json',
            },
			body: JSON.stringify(obj_json)
		}).then((resposta_backEnd)=>{
			return resposta_backEnd.text();
		}).then((texto_resposta_back)=>{
		   console.log(texto_resposta_back);
		   processarResultados(texto_resposta_back);
		}).catch((error)=>{
			console.log(error);
		})

		function processarResultados(texto_json){
		const obj_json = JSON.parse(texto_json);

		if(obj_json.status==false){
		   divResposta.textContent = "";
		   const lblReposta = document.createElement("p")
		   lblReposta.textContent = "Algum dado errado.";
		   lblReposta.style.color = "red"; 
		   divResposta.appendChild(lblReposta);
		}else{
            window.location.href = 'PaginaPrincipal.html';
		}
	}
	}

</script>
</html>